:root {
    --color-primary: rgb(255 70 70 / 100%);
    --color-primary-10: rgb(255 70 70 / 10%);
    --color-dark: rgb(24 28 41 / 100%);
    --color-dark-40: rgb(24 28 41 / 40%);
    --color-static-white: rgb(255 255 255 / 100%);
    --color-static-white-40: rgb(255 255 255 / 40%);
    --color-static-white-20: rgb(255 255 255 / 20%);
    --color-tag-purple: rgb(67 97 255 / 100%);
    --color-tag-pink: rgb(255 67 247 / 100%);
    --color-tag-green: rgb(6 164 79 / 100%);
    --color-content-background: rgb(236 243 248 / 100%);
    --color-overlay: rgb(24 28 41 / 80%);
    --font-family-primary: montserrat;
    --font-weight-primary: 600;
}

body {
    font-family: Montserrat, sans-serif;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#div-globe-wrapper {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-globe-modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.default-btn {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 2px var(--color-dark) solid;
    color: var(--color-dark);
    background-color: var(--color-static-white);
}

.default-btn:hover {
    cursor: pointer;
    transition: all 1s;
    border: 2px var(--color-dark-40) solid;
    color: var(--color-dark-40);
    background-color: var(--color-static-white);
}

table {
    border-collapse: collapse;
    width: 90vw;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.error-cell {
    max-width: 300px;
}

h4 {
    margin: 5px;
}

td {
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
}

.green {
    background-color: #d4edda;
}

.red {
    background-color: #f8d7da;
}

#input-files-wrapper {
    margin: 10px;
    padding: 10px;

    select {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }
}

#error-json-message {
    background-color: salmon;
    border-radius: 5px;
    padding: 10px;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}